body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.main-container {
  width: 80vw;
  height: 95vh;
  background-image: linear-gradient(to right, lightblue, lightyellow);
  margin-left: 10vw;
  margin-top: 1%;
}

.main-container h1{
  text-align: center;
  margin-top:15px;
  font-size:40px;
  text-decoration: underline;
}
.calci-container {
  width: 22%;
  height: 75%;
  border-radius: 15px;
  background-color: rgba(23, 23, 114, 0.806);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 15%;
  left: 40%;
}

.input-container {
  width: 100%;
  height: 20%;
  color: white;
  font-size: 50px;
  border: 1px solid rgba(0, 0, 0, 0.678);
  border-radius: 15px;
}

.btn-container {
  width: 100%;
  height: 80%;

  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-container span {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  color: white;
  font-size: 40px;
  padding: 2px;
  text-align: center;
  border-radius: 40px;
  background-color: rgba(127, 255, 212, 0.283);
}

.btn-container span:hover {
  cursor: pointer;
}

#equal {
  width: 135px;
  background-color: rgb(244, 89, 125);
}
